@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #4d4d50;
    margin-left: 300px;
    margin-right: 300px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #f5c6fb;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  @keyframes move-ticker {
    from {
      transform: translate(-115%, 0);
    }
    to {
      transform: translate(9.3%, 0);
    }
  }

  @keyframes move-ticker-sm {
    from {
      transform: translate(-500%, 0);
    }
    to {
      transform: translate(10%, 0);
    }
  }

  .scroll-ticker-md {
    animation: move-ticker 20s linear infinite;
  }
  .scroll-ticker-sm {
    animation: move-ticker-sm 30s linear infinite;
  }
}
